# SPO Connection Details
strConnectURL = "tenant.sharepoint.com"
strUsername = b'g55555B5e5JET9D5S55BWuD5HVJW8B5jbNIUyQ5u5mV8y91FpM54hkTFdwWz3lq6m5KjjJ555TeUj5BB5jtUt5lV5495hjt5s2i5Gt585_NbU4w165VZb5k='
strPassword = b'g55555B5e5JEp1d5M5q55WuP0lw5K61jDoD5vWdy7YrgrklxNY5WY5wsSVvHp8ew39Q55EL_RURwM4Fdg6M9-B8O5-i-l15gPQ=='
strContextURL = "https://tenant.sharepoint.com/sites/SiteName/_api/contextinfo"

strListDataURI = "https://tenant.sharepoint.com/sites/SiteName/_api/web/lists/GetByTitle('ListName')/items"
strListInfoURI = "https://tenant.sharepoint.com/sites/SiteName/_api/web/lists/GetByTitle('ListName')"
strListContentTypeURI = "https://tenant.sharepoint.com/sites/SiteName/_api/web/lists/GetByTitle('ListName')/contenttypes"

# MS Graph Connection Details
strClientID = "qte51e9f-712p-48c9-9ma7-gc304192f1d4"
strClientSecret = "qzzP1J50((~fhcPTWJm106*"
strGraphAuthURL = 'https://login.microsoftonline.com/tenant.com/oauth2/v2.0/token'
strWebhookURL = 'https://outlook.office.com/webhook/qam0922d-4lfq-a965-zat9-p93b55bff4bd@1l6qb4ct-byez-r0k5-jee3-l8dvc5z3e2b2/IncomingWebhook/m4z9k5sat9yeqeg4t5f2479a32fde691/mepccdec-p9r9-wfe4-k0c5-2fbbk0o3u3pm'
